<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hanfuxin.rbac.dao.RbacAccessButtonTbMapper">
	<resultMap id="BaseResultMap" type="com.hanfuxin.rbac.model.RbacAccessButtonTb">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="accessgroupid" property="accessgroupid" jdbcType="VARCHAR" />
		<result column="buttonid" property="buttonid" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List"> id, accessgroupid, buttonid
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from rbacaccessbutton_tb where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String"> delete from rbacaccessbutton_tb where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.hanfuxin.rbac.model.RbacAccessButtonTb"> insert into rbacaccessbutton_tb (id, accessgroupid, buttonid ) values (#{id,jdbcType=VARCHAR}, #{accessgroupid,jdbcType=VARCHAR}, #{buttonid,jdbcType=VARCHAR} )
	</insert>
	<insert id="insertSelective" parameterType="com.hanfuxin.rbac.model.RbacAccessButtonTb">
		insert into rbacaccessbutton_tb
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null"> id,
			</if>
			<if test="accessgroupid != null"> accessgroupid,
			</if>
			<if test="buttonid != null"> buttonid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null"> #{id,jdbcType=VARCHAR},
			</if>
			<if test="accessgroupid != null"> #{accessgroupid,jdbcType=VARCHAR},
			</if>
			<if test="buttonid != null"> #{buttonid,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.hanfuxin.rbac.model.RbacAccessButtonTb">
		update rbacaccessbutton_tb
		<set>
			<if test="accessgroupid != null"> accessgroupid = #{accessgroupid,jdbcType=VARCHAR},
			</if>
			<if test="buttonid != null"> buttonid = #{buttonid,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.hanfuxin.rbac.model.RbacAccessButtonTb"> update rbacaccessbutton_tb set accessgroupid = #{accessgroupid,jdbcType=VARCHAR}, buttonid = #{buttonid,jdbcType=VARCHAR} where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>